body {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;   
    .controls {
        font-size: 30px;
        width: 250px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;


        .button {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: black;
            border: 1px solid orangered;
            border-radius: 5px;
            background-color: orangered;
            padding: 5px; 
            
        }
    }
    
    .stopwatch {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-size: 50px;
        border: 1px solid orangered;
        border-radius: 5px;
        background-color: orangered;
        width: 200px;

    }

}
